@charset "UTF-8";
*{
    box-sizing: border-box;
}
@font-face {
  font-family: 'Outfit-SemiBold';
  src: url('fontes/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit-Light';
  src: url('fontes/Outfit-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit-Thin';
  src: url('fontes/Outfit-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('fontes/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('fontes/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url('fontes/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
    font-family: 'Poppins-Light';
    src: url('fontes/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Thin';
    src: url('fontes/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('fontes/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('fontes/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Black';
    src: url('fontes/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('fontes/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Italic';
    src: url('fontes/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url('fontes/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins-MediumItalic';
    src: url('fontes/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins-BlackItalic';
    src: url('fontes/Poppins-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url('fontes/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins-ExtraLightItalic';
    src: url('fontes/Poppins-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins-LightItalic';
    src: url('fontes/Poppins-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'YoungSerif';
    src: url('fontes/YoungSerif-Regular.ttf') format('truetype');
    font-style: normal;
}
@media (min-width: 750px) {
  main {
     width: 100%;
  min-height: 100vh;
  padding: 20px;
  background: #fff;
  border-radius: 0;
  box-sizing: border-box; 
  }
}
body{
  background-color: hsl(30, 54%, 90%);
  margin: auto;
}
main{
    font-family: Outfit-medium, sans-serif;
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    max-width: 1440px;
    min-width: 375px;
    width: 50%;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    display: block;
}
h1{
   font-family: youngserif, serif;
    font-size: 1.7em;
    text-align: center;
    text-decoration: none;
}
img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

article{
    padding: 5%;
    margin: auto;
}
div.preparation{
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    padding: 20px;
    margin: 5%;
}
h2.preparation{
    font-family: Outfit-SemiBold, sans-serif;
    color: hsl(332, 51%, 32%);
    margin: 0px;
    padding: 0px;
}
h2{
    font-family: Proppins-Bold, sans-serif;
    color: hsl(14, 45%, 36%);
}
ul.preparation li::marker{
    color: hsl(332, 51%, 32%);
}
ul.ingredientes li::marker{
    color: hsl(14, 45%, 36%);
}
ol.Instructions li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}
strong{
    color: hsl(24, 5%, 18%);
}
table.nutrition{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
td{
    color: hsl(14, 45%, 36%);
}
.aa{
    color: black;
}
.nutrition td {
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}
