body{
  background-color: hsl(30, 54%, 90%);
}
main{
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    height: 100vh;
    width: 50%;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.imagem{
   
    overflow: hidden;
    padding: 5%;
}