@charset "UTF-8";
*{
    box-sizing: border-box;
}
@font-face{
    font-family: Young Serif;
    src: url('fontes/YoungSerif-Regular.ttf') format('truetype');
    font-family: Outfit-Black;
    src: url('fontes/Outfit-Black.ttf') format('truetype');
    font-family: Outfit-Bold;
    src: url('fontes/Outfit-Bold.ttf') format('truetype');
    font-family: Outfit-Regular;
    src: url('fontes/Outfit-Regular.ttf') format('truetype');
    font-family: Outfit-ExtraBold;
    src: url('fontes/Outfit-ExtraBold.ttf') format('truetype');
}
@media (min-width: 750px) {
  main {
     width: 100%;
  min-height: 100vh;
  padding: 20px;
  background: #fff;
  border-radius: 0;
  box-sizing: border-box; 
  }
}
body{
  background-color: hsl(30, 54%, 90%);
  margin: auto;
}
main{
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    max-width: 1440px;
    min-width: 375px;
    width: 50%;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    display: block;
}
img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

article{
    padding: 5%;
    margin: auto;
}
div.preparation{
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    padding: 20px;
    margin: 5%;
}
h2.preparation{
    color: hsl(332, 51%, 32%);
    margin: 0px;
    padding: 0px;
}
h2{
    color: hsl(14, 45%, 36%);
}
ul.preparation li::marker{
    color: hsl(332, 51%, 32%);
}
ul.ingredientes li::marker{
    color: hsl(14, 45%, 36%);
}
ol.Instructions li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}
strong{
    color: hsl(24, 5%, 18%);
}
table.nutrition{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
td{
    color: hsl(14, 45%, 36%);
}
.aa{
    color: black;
}
.nutrition td {
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}
